// ================================
// Styling for the Albums page
// ================================

.album-item {
	width: 100%;
	display: flex;
}

.album-image {
	width: 50%;
}

.album-image img {
	height: 100%;
	width: 100%;
}

.album-info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.album-item:nth-child(even) > .album-image {
  order: 2;
}

